<nav class="app-navbar initialized"
     ng-class="{minimized: search}"
     ng-controller="NavbarController">
  <div class="app-logo">
    <a href="">
      <i class="fa fa-spotify"></i> Spotify browser
    </a>

    <span ng-show="search">
      : {{ search }}
    </span>
  </div>

  <div class="app-search">
    <input type="text"
           placeholder="search..."
           ng-model="search"
           ng-model-options="{debounce: 250}">
    <button type="button"
            class="input-clear"
            tabindex="-1"
            ng-click="search = '';">
      <i class="fa fa-times"></i>
    </button>
  </div>
</nav>
