<nav class="app-navbar initialized"
     ng-class="{minimized: search}"
     ng-controller="NavbarController">
  <div class="app-logo">
    <a href="#/search"
       ng-click="clearSearch()">
      <i class="fa fa-spotify"></i> Spotify browser
    </a>

    <span ng-show="search">
      : {{ search }}
    </span>
  </div>

  <div class="app-search">
    <clearable-input placeholder="search..."
                     ng-model="search"
                     ng-model-options="{debounce: 250}"
                     ng-change="openSearchRoute()">
    </clearable-input>
  </div>
</nav>
