<header class="page-header">
  <aside>
    <div class="thumb-l"
         ng-style="{'background-image': 'url(' + page.artist.images[0].url + ')'}">
    </div>
  </aside>

  <section>
    <header>
      <h1>{{ page.artist.name }}</h1>
      <h2>{{ page.artist.followers.total | number }} followers</h2>
    </header>

    <section class="table-section">
      <header><h1>Top tracks</h1></header>
      <table class="tracks-table">
        <tr ng-repeat="track in page.topTracks | limitTo:5">
          <td><play-button audio-src="{{ track.preview_url }}"></play-button></td>
          <td><a ng-href="#/album/{{ track.album.id }}/{{ track.id }}">{{ track.name }}</a></td>
          <td><a ng-href="#/album/{{ track.album.id }}">{{ track.album.name }}</a></td>
          <td>
            <a ng-repeat="artist in track.artists"
               ng-href="#/artist/{{ artist.id }}">
              {{ artist.name }}<span ng-if="!$last">,</span>
            </a>
          </td>
          <td>{{ track.duration_ms | duration }}</td>
        </tr>
      </table>
    </section>
  </section>
</header>

<section class="tiles-section">
  <header>
    <h1>Albums</h1>
    <h2>{{ page.albums.total }} found</h2>
  </header>
  <div class="tiles-container">
    <a ng-repeat="album in page.albums.items"
       ng-href="#/album/{{ album.id }}"
       class="tile thumb-m"
       title="{{ album.name }}"
       ng-style="{ 'background-image': 'url(' + album.images[1].url + ')' }">
    </a>
  </div>
</section>

<section class="tiles-section">
  <header>
    <h1>Related artists</h1>
  </header>
  <div class="tiles-container">
    <a ng-repeat="artist in page.relatedArtists | limitTo:10"
       ng-href="#/artist/{{ artist.id }}"
       class="tile thumb-m"
       title="{{ artist.name }}"
       ng-style="{ 'background-image': 'url(' + artist.images[1].url + ')' }">
    </a>
  </div>
</section>
