/* play button */

.play-button  {
  width: 100%;
  height: 100%;
  background: none;
  border-style: none;
  margin: 0;
  padding: 0;
}

.play-button .icon-background {
  background: #333;
  color: #fff;
  text-align: center;
  width: 25px;
  height: 25px;
  border-radius: 13px;
  font-size: 80%;
  padding: 5px 0;
}

.play-button:hover .icon-background,
.play-button:focus .icon-background {
  background: #84bd00;
}

.play-button .fa {
  width: 16px;
  text-align: center;
}

.play-button .fa.fa-play {
  margin-left: 2px;
}
