<!DOCTYPE html>
<html>
<head>
  <title>Acodemy spotify</title>

  <!-- dependencies -->
  <link rel="stylesheet" href="bower/normalize.css/normalize.css">
  <link rel="stylesheet" href="bower/font-awesome/css/font-awesome.min.css">

  <!-- app styling -->
  <link rel="stylesheet" href="app/app.css">
  <link rel="stylesheet" href="navbar/navbar.css">
  <link rel="stylesheet" href="directives/play-button/play-button.css">
</head>
<body ng-app="acodemy-app">
  <nav class="app-navbar"
       ng-controller="NavbarController as navbar"
       ng-class="{'minimized': !navbar.isSearch() || navbar.searchQuery }">

    <a class="app-logo"
       href="#/search"
       ng-click="navbar.clearSearch()">
      <i class="fa fa-spotify"></i> Spotify browser
    </a>
    <div class="app-search">
      <input type="text"
             placeholder="search..."
             ng-model="navbar.searchQuery"
             ng-change="navbar.openSearchPage()">
      <button type="button"
              ng-show="navbar.searchQuery"
              ng-click="navbar.clearSearch()"
              class="input-clear"
              tabindex="-1">
        <i class="fa fa-times"></i>
      </button>
    </div>
  </nav>

  <ng-view></ng-view>

  <!-- dependencies -->
  <script src="bower/angular/angular.js"></script>
  <script src="bower/angular-animate/angular-animate.js"></script>
  <script src="bower/angular-cookies/angular-cookies.js"></script>
  <script src="bower/angular-route/angular-route.js"></script>
  <script src="bower/angular-sanitize/angular-sanitize.js"></script>
  <script src="bower/angular-touch/angular-touch.js"></script>
  <script src="bower/webcomponentsjs/webcomponents.js"></script>
  <script src="bower/polymer/polymer.js"></script>

  <!-- app logic -->
  <script src="apis/spotify.js"></script>
  <script src="utils/debounce.js"></script>
  <script src="utils/duration-filter.js"></script>
  <script src="directives/play-button/play-button.js"></script>
  <script src="navbar/navbar.js"></script>

  <script src="routes/not-found/not-found.js"></script>
  <script src="routes/search/search.js"></script>
  <script src="routes/album/album.js"></script>
  <script src="routes/artist/artist.js"></script>

  <script src="app/app.js"></script>
</body>
</html>
